In [2]:
import ir_datasets
import pandas as pd
from pathlib import Path
import json
import numpy as np

In [3]:
# 使用 ir_datasets 来加载并下载 clirmatrix Bi139 数据
# `ir_datasets.load('clirmatrix/{doc_lang}/{bi139-base|bi139-full}/{query_lang}/{train|dev|test1|test2}')`
# eg：`ir_datasets.load('clirmatrix/kk/bi139-full/zh/train')`

# dataset1 = ir_datasets.load('clirmatrix/kk/bi139-full/zh/train')
dataset2 = ir_datasets.load('clirmatrix/kk/bi139-full/zh/test1')
dataset3 = ir_datasets.load('clirmatrix/kk/bi139-full/zh/test2')
# dataset4 = ir_datasets.load('clirmatrix/kk/bi139-full/zh/dev')

# dataset1 = ir_datasets.load('clirmatrix/zh/bi139-full/kk/train')
# dataset2 = ir_datasets.load('clirmatrix/zh/bi139-full/kk/test1')
# dataset3 = ir_datasets.load('clirmatrix/zh/bi139-full/kk/test2')
# dataset4 = ir_datasets.load('clirmatrix/zh/bi139-full/kk/dev')

In [5]:
dataset3.docs_count()

230047

In [4]:
# docstore = dataset.docs_store()
# queries_df = pd.DataFrame(dataset.queries_iter())
# qrels_df = pd.DataFrame(dataset.qrels_iter())
# docstore1 = dataset1.docs_store()
queries_df1 = pd.DataFrame(dataset1.queries_iter())
# qrels_df1 = pd.DataFrame(dataset1.qrels_iter())


# docstore2 = dataset2.docs_store()
queries_df2 = pd.DataFrame(dataset2.queries_iter())
# qrels_df2 = pd.DataFrame(dataset2.qrels_iter())

queries_df3 = pd.DataFrame(dataset3.queries_iter())
# qrels_df3 = pd.DataFrame(dataset3.qrels_iter())

queries_df4 = pd.DataFrame(dataset4.queries_iter())

[INFO] If you have a local copy of http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.test2.jl.gz, you can symlink it here to avoid downloading it again: C:\Users\yanghe\.ir_datasets\downloads\29dffe9fbbced53ce484f921de65e445
[INFO] [starting] http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.test2.jl.gz
[INFO] [finished] http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.test2.jl.gz: [00:00] [1.55MB] [2.48MB/s]
[INFO] If you have a local copy of http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.dev.jl.gz, you can symlink it here to avoid downloading it again: C:\Users\yanghe\.ir_datasets\downloads\38a275193f557ceba0d748b2587409a4
[INFO] [starting] http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.dev.jl.gz
[INFO] [finished] http://www.cs.jhu.edu/~shuosun/clirmatrix/data/BI-139/full/kk/kk.zh.dev.jl.gz: [00:00] [1.55MB] [3.19MB/s]

In [8]:
len(queries_df3)

18603

In [16]:
len(queries_df1)

131395

In [4]:
grouped_qid = qrels_df1.groupby('query_id')

In [14]:
grouped_qid1 = grouped_qid.head(2)

In [15]:
len(grouped_qid1)

239934

In [5]:
len(qrels_df1)

3149545

In [6]:
len(grouped_qid)

131395

In [7]:
len(queries_df2)

82102

In [6]:
path_home = Path.home() / "Desktop" / "Datasets" / "CLIRMatrix"

In [12]:
queries_df2

      query_id           text
0           25          计算机科学
1           74             化學
2           76            地理学
3          159            植物学
4          211           语言列表
...        ...            ...
82097  6862433        國際籃聯歐洲盃
82098  6862443           原田孝一
82099  6862548  上海惠灵顿外籍人员子女学校
82100  6862678       梅米·贝西诺维奇
82101  6862740         杜克·史奈德

[82102 rows x 2 columns]

In [19]:
# 每 10000 条数据 存储为一个 xlsx 然后使用 yandex translate 翻译这个 xlsx 文件
# queries_df2.loc[80000:89999].to_excel(str(path_home / 'queries_zh.kk_80000_89999.xlsx'), index=False)

In [7]:
import os

# 文件夹路径
folder_path = str(path_home / 'BI-139' / 'queries_test1_zh_kk')
# 存储合并后数据的DataFrame
all_data = pd.DataFrame()

# 遍历文件夹中的文件
for filename in os.listdir(folder_path):
    if filename.endswith('.xlsx') and 'queries' in filename:
        # 构建完整的文件路径
        file_path = os.path.join(folder_path, filename)
        
        # 读取Excel文件，只选取'query_id'和'text'两列
        temp_df = pd.read_excel(file_path, usecols=['query_id', 'text'])
        
#         # 将读取的数据追加到all_data DataFrame中
#         all_data = pd.concat([all_data, temp_df], ignore_index=True)

# # 将'query_id'和'text'列转换为字符串类型
# all_data[['query_id', 'text']] = all_data[['query_id', 'text']].astype(str)

# # 保存到新的Excel文件
# all_data.to_excel('queries_zh.kk.xlsx', index=False)

# print("合并并转换完成，结果已保存至queries_zh.kk.xlsx")

In [ ]:
# # 示例数据
# data = [
#     {"query_id": 25, "text": "计算机科学"},
#     {"query_id": 74, "text": "化学"},
#     {"query_id": 76, "text": "2023年"}, # 应该被过滤
#     {"query_id": 543, "text": "2023年后"},  
#     {"query_id": 159, "text": "植物学"},
#     {"query_id": 211, "text": "12345"},  # 应该被过滤
#     # ... 更多数据
# ]

# data_df = pd.DataFrame(data)
# # 去除 数字和xx年的查询
# data_df = data_df[~data_df['text'].str.match(r'^\d+$|.*年$')]
# print(data_df)